<div class="container">
  <div class="row no-gutters">
   <div class="col-4 rounded mt-4">
     <div class="table-responsive">
  <!-- ユーザーの詳細 -->
  <table class = 'table table-hover table-bordered caption-top'>
    <caption>ユーザー情報</caption>
   <tr>
     <th class = "table-active">名前：<%= @customer.name %></th>
   </tr>
   <tr>
    <th>フォロー数: <%= @customer.followings.count %></th>
   </tr>
   <tr>
    <th>フォロワー数: <%= @customer.followers.count %></th>
   </tr>
   <tr>
    <th><%= image_tag @customer.get_profile_image(200,200) %></th>
   </tr>
   <tr>
    <th class = mt-4><%= link_to "プロフィール編集", edit_customer_path %></th>
   </tr>
   <tr>
    <th><%=link_to"フォロー一覧",customer_followings_path(@customer), class: 'btn btn-success' %>
    <%=link_to"フォロワー一覧",customer_followers_path(@customer), class: 'btn btn-primary' %></th>
   </tr>
   <tr>
    <th><%=link_to"お気に入り記事",favorites_customer_path(@customer) %></th>
   </tr>
   <tr>
    <th><%= render "public/relationships/btn_follow" %></th>
   </tr>
  </table>
   </div>
  </div>
  <div class="col-8">
  <!-- ユーザーの投稿一覧 -->
  <p><%= render "public/posts/post" %></p>
  </div>
</div>