<!-- ユーザーの詳細 -->
<div>
  <h3><%= @customer.first_name %></h3>
  <%= image_tag @customer.get_profile_image(100,100) %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post_image.id) do %>
    <%= image_tag post.get_image %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag post.user.get_profile_image(100,100) %></p>
  <p>ショップ名：<%= post.name %></p>
  <p>説明：<%= post.description %></p>
  <p>ユーザーネーム：<%= post.user.last_name %></p>
</div>
<% end %>