<!-- ユーザーの詳細 -->
  <h3><%= @customer.last_name %></h3>
  
<div>
  <%= image_tag @customer.get_profile_image(100,100) %>
</div>

<!-- ユーザーの投稿一覧 -->

<% @posts.each do |post| %>
<div>
  <%= link_to post_path(post.id) do %>
    <%= image_tag post.get_image(100,100) %>
  <% end %>
  <p>投稿ユーザー画像：<%= image_tag post.customer.get_profile_image(100,100) %></p>
  <p>タイトル：<%= post.name %></p>
  <p>説明：<%= post.description %></p>
  <p>ユーザーネーム：<%= post.customer.last_name %></p>
</div>
<% end %>