 <div class =container>
   <% @tag_list.each do |list|%>
    <%= link_to list.name, posts_path(tag_id: list.id) %>
    <%="(#{list.posts.count})" %><% end %>
  <table class="table">
  <thred>
   <tr>
   <th>投稿画像</th>
   <th>投稿者</th>
   <th>タイトル</th>
   <th>説明</th>
   <th>タグ</th>
   <th></th>
   <th></th>
   </tr>
   </thred>
<tbody>
<% @posts.each do |post| %>
   <tr>
    <td><%= link_to post_path(post.id) do %>
      <%= image_tag post.get_image(100,100) %></td>
    <% end %>
    <td>投稿者：<%= post.customer.name %></td>
    <td>タイトル：<%= post.name %></td>
    <td>説明：<%= post.description %></td>
    <td ><%= post.tags.map(&:name).join(', ') %></td>
    <td><%= link_to "#{post.post_comments.count} コメント", post_path(post.id) %></td>
   </tr>
    <td><%= render partial: "public/reposts/repost", locals: {post: post} %></td>
   <% end %>
   </tbody>
  </table>
  <%= paginate @posts %>
</div>