<div class="container">
  <div class="row no-gutters">
    <div class="col-4 rounded mt-4">
      <table class = 'table table-hover table-bordered caption-top'>
        <caption>投稿情報</caption>
      <tr>
       <th><%= image_tag @post.get_image(100,100) %></th>
      </tr>
      <tr>
       <th>タイトル：<%= @post.name %></th>
      </tr>
      <tr>
       <th>説明：<%= @post.description %></th>
      </tr>
      <tr>
       <th>投稿ユーザー画像：<%= image_tag @post.customer.get_profile_image(100,100) %></th>
      </tr>
      <tr>
       <th>投稿者：<%= @post.customer.name %></th>
      </tr>
      <tr>
       <th>
        タグ:<% @post_tags.each do |tag| %>
             <%=tag.name%><%="(#{tag.posts.count})" %><% end %>
       </th>
      </tr>
      <tr>
      <th>投稿日時：<%= @post.created_at.strftime('%Y/%m/%d') %></th>
      </tr>
      <% if @post.customer == current_customer %>
      <tr>
       <th><%= link_to "削除", post_path(@post), method: :delete %>
            <% end %></th>
      </tr>
      <% if @post.favorited_by?(current_customer) %>
      <tr>
       <th><%= link_to post_favorites_path(@post), method: :delete do %>
              ♥<%= @post.favorites.count %> いいね
              <% end %></th>
      </tr>
      <% else %>
      <tr>
       <th><%= link_to post_favorites_path(@post), method: :post do %>
            ♡<%= @post.favorites.count %> いいね
            <% end %></th>
      </tr>
      <% end %>
      </table>
    </div>
    <div class="col-2 mt-4">
    </div>
    <div class="col-6 rounded mt-4">
      <p>コメント件数：<%= @post.post_comments.count %></p>
      <table class="table">
        <thred>
          <tr>
            <th>アイコン</th>
            <th>投稿者</th>
            <th>投稿日</th>
            <th>コメント</th>
            <th></th>
          </tr>
        </thred>
        <tbody>
          <% @comment.each do |post_comment| %>
            <tr>
              <td><%= image_tag post_comment.customer.get_profile_image(50,50) %></td>
              <td><%= post_comment.customer.name %></td>
              <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
              <td><%= post_comment.comment %></td>
              <% if post_comment.customer == current_customer %>
                <td><%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %><td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
     <%= paginate @comment %> 
     <%= render "public/post_comments/post_comment" %>
      <h3>撮影場所</h3>
<div id='map'></div>

<style>
#map {
  height: 400px;
  width: 400px;
}
</style>

<script>
let map

function initMap(){
  geocoder = new google.maps.Geocoder()
  
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 35.68123620000001, lng:139.7671248},
    zoom: 10
  });
    (function(){
  var contentString = '住所：<%= @post.address %>';

  var marker = new google.maps.Marker({
    position:{lat: <%= @post.latitude %>, lng: <%= @post.longitude %>},
    map: map,
    title: contentString
  });
  
  var message = '<div id="content">' +
    '<div id="siteNotice"></div>' +
    '<h6 id="firstHeading" class="firstHeading">タイトル：<%= @post.name %></h6>' +
    '<div id="bodyContent">' +
    '<p><%== image_tag @post.image %></P>' +
    '<p>説明：<%== @post.description %></p>' +
    '<p>住所：<%== @post.address %></p>' +
    '<p><a href="/posts/<%= @post.id %>">この投稿の詳細ページへ</a></p>' +
    '</div>' +
    '</div>';
  // 各地点の吹き出しを作成
  infoWindow = new google.maps.InfoWindow({
      // 吹き出しの内容
    content: message
  });
  marker.addListener('mouseover', function () {
    infoWindow.open(map, marker);
  });

  })();
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['GOOGLE_API_KEY']%>&callback=initMap" async defer></script>
    <br>
    <br>
   </div>
  </div>
</div>